# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/
.venv/

# Caches
.pytest_cache/
.coverage
htmlcov/

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
